@use '@carbon/layout';
@use '@carbon/colors';

.formContainer {
    padding: 0 layout.$spacing-05;
    height: 100%;
}

.formSection {
    margin-bottom: layout.$spacing-07;
}

.formSectionHeader {
    margin-bottom: layout.$spacing-05;
}

.field {
    margin-bottom: layout.$spacing-05;
}

.buttonSet {                                                                                                                                                                                                                                                 
    :global(.cds--btn) {                                                                                                                                                                                                                                       
      width: 50%;                                                                                                                                                                                                                                              
      max-width: unset;                                                                                                                                                                                                                                        
    }                                                                                                                                                                                                                                                          
  }

// Tablet
:global(.omrs-breakpoint-lt-desktop) {
  .buttonSet {                                                                                                                                                                                                                                               
    padding: layout.$spacing-06 layout.$spacing-05;                                                                                                                                                                                                          
    background-color: colors.$white-0;                                                                                                                                                                                                                       
  }    
}