@use '@carbon/colors';
@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.taskList {
  padding: layout.$spacing-03;
  display: grid;
  gap: layout.$spacing-02;
}

.helperText {
  margin: layout.$spacing-05 0;
  color: $interactive-01;
}

.errorText {
  margin: layout.$spacing-05 0;
}

.taskTile {
  padding: 0;
  border: 1px solid $grey-2;
}

.tabletTaskTile {
  &:not(:last-of-type) {
    margin-bottom: layout.$spacing-04;
  }
}

.taskTileContent {
  padding: layout.$spacing-03 layout.$spacing-05;
  display: flex;
  flex-direction: row;
  gap: layout.$spacing-04;
}

.completedTile {
  opacity: 0.65;
}


.taskTileLeft {
  display: flex;
  align-items: flex-start;
  gap: layout.$spacing-03;
  flex: 1;
  min-width: 0;
}

.taskTileRight {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.taskNameWrapper {
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-02;
  flex: 1;
  min-width: 0;
}

.taskNameButton {
  background: none;
  border: none;
  padding: 0;
  text-align: left;
  color: $interactive-01;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  
  &:hover {
    text-decoration: underline;
  }
  
  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.taskName {
  font-size: 0.875rem;
  font-weight: 600;
  color: $interactive-01;
}

.taskRationalePreview {
  font-size: 0.875rem;
  color: $text-02;
  line-height: 1.4;
}

.taskAssignee {
  font-size: 0.875rem;
  color: $text-02;
}

.checkboxWrapper {
  :global(.cds--checkbox-label) {
    font-weight: 600;
  }
}

.completedCheckbox {
  :global(.cds--checkbox-label) {
    text-decoration: line-through;
    color: $text-02;
  }
}

.dueDate {
  font-size: 0.875rem;
  color: $text-02;
  white-space: nowrap;
}

.taskBody {
  display: grid;
  gap: layout.$spacing-03;
  color: $text-02;
  font-size: 0.875rem;
}

.taskMeta {
  display: flex;
  flex-wrap: wrap;
  column-gap: layout.$spacing-02;
  row-gap: layout.$spacing-01;
}

.metaLabel {
  font-weight: 600;
}

.taskRationale {
  display: grid;
  gap: layout.$spacing-02;

  p {
    margin: 0;
    line-height: 1.4;
  }
}
